// -- theme toggle -----
.toggle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.7;

  &:hover {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
  }

  path {
    fill: var(--textColor);
  }

  .btn {
    display: flex;
    padding: 2px;
    user-select: none;

    svg {
      width: 20px;
      height: 20px;
    }

    &.active {
      border-radius: 50%;
      transition: background-color 0.25s ease-in-out;

      svg {
        path {
          fill: var(--activeThemeColor);
        }
      }
    }
  }
}
