// -- header -----
header {
    position: fixed;
    width: 100vw;
    height: var(--headerHeight);
    padding: 0 var(--gap);
    border-bottom: 1px solid var(--textAccentColor);
    display: flex;
    justify-content: space-between;
    background-color: var(--navBgColor);
    color: var(--textColor);
    z-index: 1;

    .id {
        width: 100vw;
        display: flex;
        align-items: center;
        gap: calc(var(--gap) / 4);
        font-weight: bold;

        @media (width > 768px) {
            gap: calc(var(--gap) / 2);
        }

        .profile-image {
            width: 44px;
            height: 44px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-image: conic-gradient(
                #de6a73 0deg 50deg,
                var(--navBgColor) 50deg 60deg,
                #c678dd 60deg 110deg,
                var(--navBgColor) 110deg 120deg,
                #6087cf 120deg 170deg,
                var(--navBgColor) 170deg 180deg,
                #98c379 180deg 230deg,
                var(--navBgColor) 230deg 240deg,
                #d09965 240deg 290deg,
                var(--navBgColor) 290deg 300deg,
                #abb2bf 300deg 350deg,
                var(--navBgColor) 350deg 300deg
            );
            overflow: hidden;

            @media (width > 768px) {
                width: 58px;
                height: 58px;
            }

            &:hover {
                background-image: conic-gradient(
                    #abb2bf 0deg 50deg,
                    var(--navBgColor) 50deg 60deg,
                    #de6a73 60deg 110deg,
                    var(--navBgColor) 110deg 120deg,
                    #c678dd 120deg 170deg,
                    var(--navBgColor) 170deg 180deg,
                    #6087cf 180deg 230deg,
                    var(--navBgColor) 230deg 240deg,
                    #98c379 240deg 290deg,
                    var(--navBgColor) 290deg 300deg,
                    #d09965 300deg 350deg,
                    var(--navBgColor) 350deg 300deg
                );
                animation: spin-colors 6s infinite linear;
            }

            img {
                width: 42px;
                height: 42px;
                object-fit: cover;
                /* Ensure circular shape */
                border-radius: 50%;
                /* Add subtle inner border */
                border: 2px solid var(--navBgColor);

                @media (width > 768px) {
                    width: 56px;
                    height: 56px;
                    border: 3px solid var(--navBgColor);
                }
            }
        }

        h1 {
            font-family: 'Dank Mono', monospace;
            font-size: 1.04rem;
            font-style: italic;
            color: var(--nameColor);

            @media (width < 350px) {
                font-size: 0.89rem;
            }

            @media (width > 768px) {
                font-size: 1.25rem;
            }

            &:hover {
                opacity: 0.7;
                transition: opacity 0.25s ease-in-out;
            }
        }

        .data {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2 {
                margin-left: calc(var(--gap) / 6);
                font-family: 'Dank Mono', monospace;
                font-size: 0.88rem;
                font-weight: 900;
                color: var(--professionTextColor);

                @media (width < 350px) {
                    font-size: 0.7rem;
                }

                @media (width > 768px) {
                    font-size: 1.04rem;
                }
            }

            code {
                font-weight: 400;
                color: var(--usernameTextColor);
                transition: color 0.25s steps ease-in-out;

                &:hover {
                    color: var(--usernameHoverTextColor);
                }
            }
        }
    }
}

@keyframes spin-colors {
    0% {
        background-image: conic-gradient(
            #de6a73 0deg 50deg,
            var(--navBgColor) 50deg 60deg,
            #c678dd 60deg 110deg,
            var(--navBgColor) 110deg 120deg,
            #6087cf 120deg 170deg,
            var(--navBgColor) 170deg 180deg,
            #98c379 180deg 230deg,
            var(--navBgColor) 230deg 240deg,
            #d09965 240deg 290deg,
            var(--navBgColor) 290deg 300deg,
            #abb2bf 300deg 350deg,
            var(--navBgColor) 350deg 300deg
        );
    }
    100% {
        background-image: conic-gradient(
            #abb2bf 0deg 50deg,
            var(--navBgColor) 50deg 60deg,
            #de6a73 60deg 110deg,
            var(--navBgColor) 110deg 120deg,
            #c678dd 120deg 170deg,
            var(--navBgColor) 170deg 180deg,
            #6087cf 180deg 230deg,
            var(--navBgColor) 230deg 240deg,
            #98c379 240deg 290deg,
            var(--navBgColor) 290deg 300deg,
            #d09965 300deg 350deg,
            var(--navBgColor) 350deg 300deg
        );
    }
}

@keyframes spin-colors {
    0% {
        background-image: conic-gradient(
            #de6a73 0deg 50deg,
            var(--navBgColor) 50deg 60deg,
            #c678dd 60deg 110deg,
            var(--navBgColor) 110deg 120deg,
            #6087cf 120deg 170deg,
            var(--navBgColor) 170deg 180deg,
            #98c379 180deg 230deg,
            var(--navBgColor) 230deg 240deg,
            #d09965 240deg 290deg,
            var(--navBgColor) 290deg 300deg,
            #abb2bf 300deg 350deg,
            var(--navBgColor) 350deg 300deg
        );
    }
    16.66% {
        background-image: conic-gradient(
            #abb2bf 0deg 50deg,
            var(--navBgColor) 50deg 60deg,
            #de6a73 60deg 110deg,
            var(--navBgColor) 110deg 120deg,
            #c678dd 120deg 170deg,
            var(--navBgColor) 170deg 180deg,
            #6087cf 180deg 230deg,
            var(--navBgColor) 230deg 240deg,
            #98c379 240deg 290deg,
            var(--navBgColor) 290deg 300deg,
            #d09965 300deg 350deg,
            var(--navBgColor) 350deg 300deg
        );
    }
    33.33% {
        background-image: conic-gradient(
            #d09965 0deg 50deg,
            var(--navBgColor) 50deg 60deg,
            #abb2bf 60deg 110deg,
            var(--navBgColor) 110deg 120deg,
            #de6a73 120deg 170deg,
            var(--navBgColor) 170deg 180deg,
            #c678dd 180deg 230deg,
            var(--navBgColor) 230deg 240deg,
            #6087cf 240deg 290deg,
            var(--navBgColor) 290deg 300deg,
            #98c379 300deg 350deg,
            var(--navBgColor) 350deg 300deg
        );
    }
    50% {
        background-image: conic-gradient(
            #98c379 0deg 50deg,
            var(--navBgColor) 50deg 60deg,
            #d09965 60deg 110deg,
            var(--navBgColor) 110deg 120deg,
            #abb2bf 120deg 170deg,
            var(--navBgColor) 170deg 180deg,
            #de6a73 180deg 230deg,
            var(--navBgColor) 230deg 240deg,
            #c678dd 240deg 290deg,
            var(--navBgColor) 290deg 300deg,
            #6087cf 300deg 350deg,
            var(--navBgColor) 350deg 300deg
        );
    }
    66.66% {
        background-image: conic-gradient(
            #6087cf 0deg 50deg,
            var(--navBgColor) 50deg 60deg,
            #98c379 60deg 110deg,
            var(--navBgColor) 110deg 120deg,
            #d09965 120deg 170deg,
            var(--navBgColor) 170deg 180deg,
            #abb2bf 180deg 230deg,
            var(--navBgColor) 230deg 240deg,
            #de6a73 240deg 290deg,
            var(--navBgColor) 290deg 300deg,
            #c678dd 300deg 350deg,
            var(--navBgColor) 350deg 300deg
        );
    }
    83.33% {
        background-image: conic-gradient(
            #c678dd 0deg 50deg,
            var(--navBgColor) 50deg 60deg,
            #6087cf 60deg 110deg,
            var(--navBgColor) 110deg 120deg,
            #98c379 120deg 170deg,
            var(--navBgColor) 170deg 180deg,
            #d09965 180deg 230deg,
            var(--navBgColor) 230deg 240deg,
            #abb2bf 240deg 290deg,
            var(--navBgColor) 290deg 300deg,
            #de6a73 300deg 350deg,
            var(--navBgColor) 350deg 300deg
        );
    }
    100% {
        background-image: conic-gradient(
            #de6a73 0deg 50deg,
            var(--navBgColor) 50deg 60deg,
            #c678dd 60deg 110deg,
            var(--navBgColor) 110deg 120deg,
            #6087cf 120deg 170deg,
            var(--navBgColor) 170deg 180deg,
            #98c379 180deg 230deg,
            var(--navBgColor) 230deg 240deg,
            #d09965 240deg 290deg,
            var(--navBgColor) 290deg 300deg,
            #abb2bf 300deg 350deg,
            var(--navBgColor) 350deg 300deg
        );
    }
}
