header {
    position: fixed;
    width: 100vw;
    height: var(--headerHeight);
    padding: 0 var(--gap);
    border-bottom: 1px solid var(--textAccentColor);
    display: flex;
    justify-content: space-between;
    background-color: var(--bgColor);
    color: var(--textColor);
    z-index: 1;

    main {
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        color: var(--textColor);

        .data {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        h1 {
            font-family: 'Dank Mono', monospace;
            font-size: 1.04rem;
            font-style: italic;
            color: var(--nameColor);

            @media (width < 350px) {
                font-size: 0.89rem;
            }

            @media (width > 768px) {
                font-size: 1.89rem;
            }

            &:hover {
                opacity: 0.7;
                transition: opacity 0.28s ease-in-out;
            }
        }

        h2 {
            margin-left: 10px;
            font-family: 'Dank Mono', monospace;
            font-size: 0.89rem;
            font-weight: 900;
            color: var(--professionColor);

            @media (width < 350px) {
                font-size: 0.7rem;
            }

            @media (width > 768px) {
                font-size: 1.04rem;
            }
        }

        code {
            font-weight: 400;
            color: var(--usernameColor);
        }
    }
}
