// -- main -----
.main {
  position: relative;
  min-height: 100svh;
  padding: calc(var(--headerHeight) + var(--gap)) var(--gap) calc(var(--gap) * 2);
  background-color: var(--mainBgColor);
  color: var(--textColor);
  transition: var(--expandCollapseTransition);

  &.expanded {
    width: calc(100vw - var(--gap));
    margin-left: var(--gap);
  }

  &.collapsed {
    width: calc(100vw - var(--sidebarWidth));
    margin-left: var(--sidebarWidth);

    @media (width > 768px) {
      width: calc(100vw - var(--sidebarWidth));
      margin-left: var(--sidebarWidth);
    }
  }

  * {
    font-family: var(--jetBrainsMonoFont), monospace;
  }

  h2 {
    color: var(--mainHeadingColor);
    margin-bottom: var(--gap);
  }

  p, ul {
    margin-bottom: var(--gap);
  }
  
}
