// -- main -----
.main {
  position: relative;
  min-width: 300px;
  min-height: 100svh;
  padding: var(--headerHeight) calc(var(--gap) * 2) calc(var(--headerHeight) + var(--gap));
  background-color: var(--mainBgColor);
  color: var(--textColor);
  transition: var(--expandCollapseTransition);
  display: flex;
  justify-content: center;

  &-content {
    max-width: 100dvw;

    @media (width > 768px) {
      max-width: 60dvw;
      width: 100%;
    }
  }

  &.expanded {
    width: calc(100vw - var(--gap));
  }

  &.collapsed {
    width: calc(100vw - var(--sidebarWidth));
    margin-left: var(--sidebarWidth);
  }

  * {
    font-family: var(--dankMonoFont), var(--jetBrainsMonoFont), monospace;
  }

  section {
    margin-bottom: var(--gap);
  }

  h2 {
    color: var(--mainHeadingColor);
    margin-bottom: var(--gap);
  }

  p {
    margin-bottom: var(--gap);
  }
}
