.toggler {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: flex-start;
    border-radius: 40px;
    padding: 1px;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 25px;

    path {
        fill: var(--textColor);
    }
}

.btn {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.icon {
    background-color: var(--bg);
    border-radius: 50%;
    padding: 2px;
    transition: background-color 0.25s ease-in-out;
}
