// -- footer -----
.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: calc(100vw - var(--sidebarWidth));
  height: var(--gap);
  display: flex;
  align-content: center;
  justify-content: flex-end;
  gap: calc(var(--gap) / 4);
  border-top: 1px solid var(--footerBorderColor);
  background-color: var(--footerBgColor);
  color: var(--footerBorderColor);
  font-size: 0.5rem;
  transition:
    width 0.5s ease-in-out,
    margin-left 0.5s ease-in-out;

  @media (width < 250px) {
    font-size: 0.5rem;
  }

  @media (width > 768px) {
    padding: calc(var(--gap) / 8) calc(var(--gap) / 4);
    font-size: 0.89rem;
  }

  &.expanded {
    width: calc(100vw - var(--gap));
    margin-left: var(--gap);
  }

  &.collapsed {
    width: 100vw;
    margin-left: var(--sidebarWidth);

    @media (width > 768px) {
      width: calc(100vw - var(--sidebarWidth));
      margin-left: var(--sidebarWidth);
    }
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--gap) / 4);
    color: var(--textColor);

    a {
      font-style: italic;
      font-weight: bold;
      color: var(--footerAnchorColor);
      transition: color 0.25s ease-in-out;

      &:hover {
        color: var(--footerAnchorHoverColor);
      }
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      border: 2px solid transparent;
      border-radius: 50%;
      transition: all 0.25s ease-in-out;

      &:hover {
        background-color: white;
        border-color: var(--footerBorderColor);
      }
    }
  }
}
