// -- sidebar toggler -----
.toggler {
  position: absolute;
  right: 0;
  top: 0;
  width: var(--gap);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--sidebarTogglerBgColor);
  color: var(--sidebarTogglerTextColor);
  font-weight: bold;
  cursor: pointer;
  transition:
    background-color 0.25s ease-in-out,
    color 0.25s ease-in-out;

  &:hover {
    background-color: var(--sidebarTogglerHoverBgColor);
    color: var(--sidebarTogglerHoverTextColor);
  }

  svg {
    fill: var(--sidebarToggleIconColor);
  }
}
