// -- sidebar -----
.sidebar {
  position: fixed;
  width: var(--sidebarWidth);
  height: calc(100svh - var(--headerHeight));
  margin-top: var(--headerHeight);
  padding: var(--gap);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--sidebarBgColor);
  transition:
    width 0.5s ease-in-out,
    margin-left 0.5s ease-in-out;
  z-index: 1;

  &.expanded {
    width: var(--sidebarWidth);
  }

  &.collapsed {
    margin-left: calc((var(--sidebarWidth) * -1) + var(--gap));
  }
}
