// -- contact links -----
$colors: var(--lightGrayColor) var(--redColor) var(--purpleColor) var(--blueColor) var(--greenColor) var(--orangeColor) var(--grayColor);

.links {

  li {
    list-style: none;
    margin: 0 0 var(--gap);

    &:last-of-type {
      margin-bottom: 0;
    }

    a {
      width: 100%;
      padding: var(--gap) calc(var(--gap) / 2);
      border: 1px solid var(--footerBorderColor);
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
      border-radius: calc(var(--gap) / 2);
      font-size: 0.75rem;
      color: var(--textSecondaryColor);
      display: inline-flex;
      align-items: center;
      gap: calc(var(--gap) / 2);
      transition: var(--transition);

      @media (width > 1024px) {
        max-width: 60%;
        padding: var(--gap);
        gap: var(--gap);
        font-size: 1rem;
      }

      svg {
        @media (width > 768px) {
          width: var(--gap);
          height: var(--gap);
        }
      }
    }

    @for $i from 1 through length($colors) {
      &:nth-child(#{$i}) a:hover {
        color: nth($colors, $i);
        border: 1px solid nth($colors, $i);
        box-shadow: 0 0 3.25px nth($colors, $i);
      }
    }
  }
}