// -- experience timeline item -----
.item {
  list-style: none;
  margin: var(--gap) 0;
  min-width: 300px;

  article {
    position: relative;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    transition: var(--transition);

    @media (width > 768px) {
      padding: 10px;
    }

    &.main-reduced {
      padding: 30px 10px 30px;
    }

    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    }

    .entity {
      display: inline-flex;
      align-items: center;
      margin-top: var(--gap);
      gap: 5px;

      @media (width > 768px) {
        margin-top: 0;
      }

      * {
        display: inline-flex;
      }

      .content {
        display: flex;
        align-items: center;
        gap: calc(var(--gap) / 4);
      }

      p {
        display: contents;

        &.location {
          max-width: unset;
        }
      }

      h3 {
        margin: 5px 0;
        color: var(--textColor);
        font-size: 0.9rem;
        text-wrap: balance;
        max-width: 90%;
        transition: var(--transition);

        &:hover {
          color: var(--orangeColor);
        }
      }

      img {
        width: calc(var(--gap) * 2);
        height: calc(var(--gap) * 2);
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
        object-fit: cover;
        transition: var(--transition);

        &:hover {
          box-shadow: 0 0 10px rgba(0, 0, 0, 1);
        }
      }
    }

    h4 {
      font-size: 0.8rem;
      text-wrap: balance;

      @media (width > 768px) {
        max-width: 85%;
      }

      a {
        color: var(--blueColor);
        transition: all 0.25s ease-in-out;

        &:hover {
          color: var(--orangeColor);
        }
      }
    }

    .timeline {
      position: relative;
      margin-left: calc(var(--gap) / 1.5);

      .item {
        display: flex;
        align-items: flex-start;
        position: relative;
        padding-left: calc(var(--gap) * 1.5);
        margin: 0;

        .circle {
          width: calc(var(--gap) / 2);
          height: calc(var(--gap) / 2);
          background-color: var(--grayColor);
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: calc(var(--gap) / 5);
        }

        .line {
          position: absolute;
          width: 1px;
          top: calc(var(--gap) * 1.2);
          left: calc(var(--gap) / 8 + 1px);
          bottom: calc(var(--gap) / 3.8);
          background-color: var(--grayColor);
        }

        &:last-child .line {
          display: none;
        }

        .position {
          flex: 1;
        }
      }
    }

    p {
      font-size: 0.8rem;
      color: var(--grayColor);
      text-wrap: balance;

      @media (width > 768px) {
        max-width: 85%;
      }

      &.description {
        margin-top: 5px;
      }

      &.highlight-text {
        color: var(--orangeColor);
        font-family: var(--dankMonoFont);
        font-style: italic;
      }
    }

    .date {
      position: absolute;
      top: 10px;
      right: 10px;
      color: var(--blueColor);
      font-size: 0.8rem;
    }

    .tags {
      display: flex;
      justify-content: space-between;
      margin-top: 5px;

      ul {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
        margin: 0;

        @media (width > 768px) {
          max-width: 85%;
        }

        li {
          list-style: none;
          margin: 0;
        }
      }

      button {
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
      }

      code {
        padding: 2px 3px;
        border-radius: 3px;
        background-color: var(--blueColor);
        color: var(--darkColor);
        font-size: 0.7rem;

        &:hover,
        &.active {
          background-color: var(--orangeColor);
        }

        &.certificate {
          padding: 0;
          border-radius: none;
          background-color: transparent;
          color: var(--orangeColor);
          font-size: 0.7rem;
          display: inline-flex;
          align-items: flex-end;

          @media (width > 768px) {
            flex-direction: column;
          }

          a {
            display: flex;
            gap: 2px;
            font-family: var(--dankMonoFont);
            font-style: italic;
          }
        }
      }
    }
  }
}
