// -- experience timeline -----
.experience {
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  @media (width > 768px) {
    min-width: calc(var(--md) - var(--gap));
    flex-direction: row-reverse;

    &.main-reduced {
      min-width: unset;
      flex-direction: column;
    }
  }

  hr {
    margin: 0 0 var(--gap);
    border-color: var(--blueColor);
  }

  .timeline {
    width: 100%;

    @media (width > 768px) {
      width: 70%;

      &.main-reduced {
        width: 100%;
      }
    }

    .highlight {
      background-color: var(--orangeColor);
      color: var(--darkColor);
    }

    .empty {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--grayColor);
      font-size: 0.8rem;
      text-wrap: balance;

      span {
        text-align: center;
      }

      .icon {
        font-size: 4rem;
      }
    }
  }

  .filters {
    width: 100%;

    @media (width > 768px) {
      width: 30%;

      &.main-reduced {
        width: 100%;
      }
    }

    .tag-filter {
      @media (width > 768px) {
        margin-top: calc(calc(var(--gap) / 4) * -1);
      }

      .title {
        font-size: 0.8rem;
      }

      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 5px;

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 3px;
          border: none;
          border-radius: 3px;
          background-color: var(--grayColor);
          font-size: 0.7rem;
          cursor: pointer;
          transition: all 0.25s ease;

          &:hover,
          &.active {
            background-color: var(--orangeColor);
          }
        }
      }

      button.clear {
        margin: 15px 0;
        background-color: transparent;
        border: none;
        font-size: 0.7rem;
        font-family: var(--dankMonoFont);
        font-style: italic;
        color: var(--orangeColor);
        cursor: pointer;
        visibility: hidden;

        &:hover {
          color: var(--redColor);
        }

        &.visible {
          visibility: visible;
        }
      }
    }

    .text-search {
      display: flex;
      flex-direction: column;

      .label {
        margin-top: 5px;
        font-size: 0.8rem;
      }

      .search {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-top: 5px;

        @media (width > 768px) {
          display: inline-flex;
        }

        input {
          margin-top: 5px;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid var(--grayColor);
          border-color: var(--grayColor);
          color: var(--textColor);
          font-size: 0.7rem;
          font-style: italic;
          font-family: var(--dankMonoFont);

          @media (width > 768px) {
            margin-top: 0;
            display: inline;
          }

          &:focus {
            outline: none;
            border-color: var(--blueColor);
          }
        }

        button.clear {
          margin-left: 5px;
          visibility: hidden;
          background-color: transparent;
          border: none;
          color: var(--orangeColor);
          font-size: 0.7rem;
          font-family: var(--dankMonoFont);
          font-style: italic;
          cursor: pointer;
          transition: all 0.25s ease-in-out;

          &:hover {
            color: var(--redColor);
          }

          &.visible {
            visibility: visible;
          }
        }
      }
    }
  }
}
