// -- experience timeline -----
.experience {
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  @media (width > 768px) {
    min-width: calc(var(--md) - var(--gap));
    flex-direction: row-reverse;

    &.main-reduced {
      min-width: unset;
      flex-direction: column;
    }
  }

  hr {
    margin: 0 0 var(--gap);
    border-color: var(--bgAccentColor);
  }

  .timeline {
    width: 100%;

    @media (width > 768px) {
      width: 70%;

      &.main-reduced {
        width: 100%;
      }
    }

    .highlight {
      background-color: var(--bgHoverAccentColor);
      color: var(--darkColor);
    }

    .empty {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--textSecondaryColor);
      font-size: 0.8rem;
      text-wrap: balance;

      span {
        text-align: center;
      }

      .icon {
        font-size: 4rem;
      }
    }
  }

  .filters {
    width: 100%;

    @media (width > 768px) {
      width: 30%;

      &.main-reduced {
        width: 100%;
      }
    }
  }
}
