// ** Fonts *****
$fontPath: '../fonts';
$fontList:
  (OperatorMonoXLight,OperatorMono-XLight,normal,normal)
  (OperatorMonoXLight,OperatorMono-XLightItalic,italic,normal)
  (OperatorMonoLight,OperatorMono-Light,normal,normal)
  (OperatorMonoLight,OperatorMono-LightItalic,italic,normal)
  (OperatorMonoBook,OperatorMono-Book,normal,normal)
  (OperatorMonoBook,OperatorMono-BookItalic,italic,normal)
  (OperatorMonoMedium,OperatorMono-Medium,normal,normal)
  (OperatorMonoMedium,OperatorMono-MediumItalic,italic,normal)
  (OperatorMonoBold,OperatorMono-Bold,normal,normal)
  (OperatorMonoBold,OperatorMono-BoldItalic,italic,normal)
;
// ** Colors *****
$primary-color: #f5f5f5;
$secondary-color: #0086fc;
$primary-background-color: #1a2331;