// --nav -----
.nav {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) / 2);
  padding-right: var(--gap);

  a {
    font-family: var(--dankMonoFont);
    font-style: italic;
    font-size: 0.89rem;
    color: var(--navTextColor);

    &:hover {
      color: var(--navHoverTextColor);
      opacity: 0.65;
    }

    &.active {
      color: var(--navActiveTextColor);
    }
  }
}
