// -- nav -----
.nav {
  padding-right: var(--gap);
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) / 2);

  a {
    font-family: var(--jetBrainsMonoFont), monospace;
    font-size: 0.8rem;
    color: var(--navTextColor);
    display: inline-block;

    @media (width > 768px) {
      font-size: 1rem;
    }

    &:hover {
      color: var(--navHoverTextColor);
      opacity: 0.65;
    }

    &.active {
      color: var(--navActiveTextColor);
    }
  }
}
