// -- tag -----
.tag {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  code {
    padding: 2px 3px;
    border-radius: 3px;
    background-color: var(--blueColor);
    color: var(--darkColor);
    font-size: 0.7rem;

    &:hover,
    &.active {
      background-color: var(--orangeColor);
    }
  }
}
