// -- tag
$colors: var(--redColor) var(--purpleColor) var(--blueColor) var(--greenColor) var(--orangeColor);

.item {
  display: flex;
  align-items: center;
  margin-left: 0;
  border: 1px solid var(--footerBorderColor);
  border-radius: calc(var(--gap) / 4);
  transition: var(--transition);

  @for $i from 1 through 100 {
    &:nth-of-type(#{$i}) {
      &:hover {
        border: 1px solid nth($colors, (($i - 1) % length($colors)) + 1);

        a {
          border-color: nth($colors, (($i - 1) % length($colors)) + 1);
          color: nth($colors, (($i - 1) % length($colors)) + 1);
        }
      }
    }
  }

  a {
    display: flex;
    align-items: center;
    color: var(--textSecondaryColor);
  }

  span {
    align-self: center;
    padding: calc(var(--gap) / 6);
    font-size: 0.9rem;
    line-height: 0;

    svg {
      font-size: 1rem;
    }
  }
}