// -- font -----
@font-face {
  font-family: 'Dank Mono';
  src: url(../fonts/dank-mono/DankMono-Regular.eot);
  src:
    url(../fonts/dank-mono/DankMono-Regular.eot?#iefix)
      format('embedded-opentype'),
    url(../fonts/dank-mono/DankMono-Regular.otf) format('otf'),
    url(../fonts/dank-mono/DankMono-Regular.svg#DankMono-Regular) format('svg'),
    url(../fonts/dank-mono/DankMono-Regular.ttf) format('truetype'),
    url(../fonts/dank-mono/DankMono-Regular.woff) format('woff'),
    url(../fonts/dank-mono/DankMono-Regular.woff2) format('woff2');
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Dank Mono';
  src: url(../fonts/dank-mono/DankMono-Italic.eot);
  src:
    url(../fonts/dank-mono/DankMono-Italic.eot?#iefix)
      format('embedded-opentype'),
    url(../fonts/dank-mono/DankMono-Italic.otf) format('otf'),
    url(../fonts/dank-mono/DankMono-Italic.svg#DankMono-Italic) format('svg'),
    url(../fonts/dank-mono/DankMono-Italic.ttf) format('truetype'),
    url(../fonts/dank-mono/DankMono-Italic.woff) format('woff'),
    url(../fonts/dank-mono/DankMono-Italic.woff2) format('woff2');
  font-style: italic;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Dank Mono';
  src: url(../fonts/dank-mono/DankMono-Bold.eot);
  src:
    url(../fonts/dank-mono/DankMono-Bold.eot?#iefix) format('embedded-opentype'),
    url(../fonts/dank-mono/DankMono-Bold.otf) format('otf'),
    url(../fonts/dank-mono/DankMono-Bold.svg#DankMono-Bold) format('svg'),
    url(../fonts/dank-mono/DankMono-Bold.ttf) format('truetype'),
    url(../fonts/dank-mono/DankMono-Bold.woff) format('woff'),
    url(../fonts/dank-mono/DankMono-Bold.woff2) format('woff2');
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
