// -- theme -----
[data-theme='light'] {
  --bgColor: var(--lightColor);
  --textColor: var(--darkSemiColor);
  --textAccentColor: var(--lightGrayColor);
  --textSecondaryAccentColor: var(--purpleColor);
  // header
  --headerBorderColor: var(--lightGrayColor);
  --headerNameColor: var(--darkGrayAlternativeColor);
  ----headerUsernameTextColor: var(--orangeColor);
  --headerUsernameHoverTextColor: var(--greenColor);
  --headerProfessionTextColor: var(--blueColor);
  // sidebar
  --sidebarBgColor: var(--lightColor);
  --sidebarTogglerTextColor: var(--darkSemiColor);
  --sidebarTogglerHoverTextColor: var(--lightSemiColor);
  --sidebarTogglerBgColor: var(--blueColor);
  --sidebarTogglerHoverBgColor: var(--purpleColor);
  --sidebarToggleIconColor: var(--lightColor);
  // nav
  --navBgColor: var(--lightSemiColor);
  --navTextColor: var(--darkSemiColor);
  --navActiveTextColor: var(--blueColor);
  --navHoverTextColor: var(--purpleColor);
  // main
  --mainBgColor: var(--lightSemiColor);
  --mainHeadingColor: var(--darkSemiColor);
  // main - breadcrumbs
  --breadcrumbItemColor: var(--darkGrayColor);
  --breadcrumbLinkedItemColor: var(--blueColor);
  --breadcrumbLinkedItemHoverColor: var(--redColor);
  --breadcrumbBorderColor: var(--blueColor);
  // footer
  --footerBgColor: var(--lightSemiColor);
  --footerBorderColor: var(--lightGrayColor);
  --footerAnchorColor: var(--blueColor);
  --footerAnchorHoverColor: var(--greenColor);
}

[data-theme='dark'] {
  --bgColor: var(--darkSemiColor);
  --textColor: var(--lightSemiColor);
  --textAccentColor: var(--darkGrayColor);
  --textSecondaryAccentColor: var(--purpleColor);
  // header
  --headerBorderColor: var(--darkGrayColor);
  --headerNameColor: var(--grayColor);
  --headerUsernameTextColor: var(--blueColor);
  --headerUsernameHoverTextColor: var(--greenColor);
  --headerProfessionTextColor: var(--purpleColor);
  // sidebar
  --sidebarBgColor: var(--darkSemiColor);
  --sidebarTogglerTextColor: var(--lightSemiColor);
  --sidebarTogglerHoverTextColor: var(--lightSemiColor);
  --sidebarTogglerBgColor: var(--purpleColor);
  --sidebarTogglerHoverBgColor: var(--blueColor);
  --sidebarToggleIconColor: var(--lightColor);
  // nav
  --navBgColor: var(--darkSemiColor);
  --navTextColor: var(--grayColor);
  --navActiveTextColor: var(--blueColor);
  --navHoverTextColor: var(--purpleColor);
  // main
  --mainBgColor: var(--darkGrayAlternativeColor);
  --mainHeadingColor: var(--lightGrayColor);
  // main - breadcrumbs
  --breadcrumbItemColor: var(--grayColor);
  --breadcrumbLinkedItemColor: var(--purpleColor);
  --breadcrumbLinkedItemHoverColor: var(--blueColor);
  --breadcrumbBorderColor: var(--purpleColor);
  // footer
  --footerBgColor: var(--darkSemiColor);
  --footerBorderColor: var(--darkGrayColor);
  --footerAnchorColor: var(--blueColor);
  --footerAnchorHoverColor: var(--orangeColor);
}

// md themes
$codeDarkTheme: 'min-dark';
$codeLightTheme: 'min-light';

code[data-theme*='#{$codeLightTheme}'] {
  padding: calc(var(--gap) / 2);
}

[data-theme='light'] code[data-theme*='#{$codeLightTheme}'],
[data-theme='light'] code[data-theme*='#{$codeLightTheme}'] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
  border-radius: 4.25px;
}

[data-theme='dark'] code[data-theme*='#{$codeDarkTheme}'],
[data-theme='dark'] code[data-theme*='#{$codeDarkTheme}'] span {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
  border-radius: 4.25px;
}
