@import '_fonts';
@import '_themes';

// -- root -----
:root {
  // colors
  --purpleColor: #c678dd;
  --blueColor: #6087cf;
  --greenColor: #98c379;
  --orangeColor: #d09965;
  --grayColor: #abb2bf;
  --redColor: #de6a73;
  --lightColor: #fff;
  --lightSemiColor: #eee;
  --lightGrayColor: #d4d4d4;
  --darkColor: #000;
  --darkSemiColor: #1a1a1a;
  --darkGrayColor: #2b2b2b;
  --darkGrayAlternativeColor: #232327;
  // general
  --bgColor: var(--darkColor);
  --textColor: var(--lightColor);
  --headerHeight: 60px;
  --sidebarWidth: 100vw;
  --gap: 20px;

  @media (width > 768px) {
    --gap: 25px;
    --headerHeight: 70px;
    --sidebarWidth: calc(330px + var(--gap));
  }
}

// -- global -----
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Dank Mono', monospace;
}

html,
body {
  max-width: 100vw;
  min-height: 100svh;
  margin: 0;
  padding: 0;
  background-color: var(--bgColor);
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

a[href*='#'],
h1[id],
h2[id],
h3[id] {
  scroll-behavior: smooth;
  scroll-margin-top: calc(var(--headerHeight));
}
