// -- post/article -----
.article {
  h1[id] {
    margin-bottom: var(--gap);
  }

  .markdown {
    line-height: 1.25rem;

    code * {
      font-family: var(--jetBrainsMonoFont);
    }

    p {
      margin-bottom: calc(var(--gap) / 2);
    }

    pre code {
      width: auto;
      margin-bottom: var(--gap);
      overflow-x: auto;
    }

    img {
      max-width: 100%;
    }

    li {
      margin-top: var(--gap);
      margin-bottom: var(--gap);
    }
  }
}
