// -- post/article -----
.article {
  h1[id] {
    margin-bottom: var(--gap);
  }

  .markdown {
    line-height: 1.25rem;

    p {
      margin-bottom: calc(var(--gap) / 2);
    }

    img {
      max-width: 100%;
    }

    li {
      margin-top: calc(var(--gap) / 2);
      margin-bottom: calc(var(--gap) / 2);
    }

    pre {
      overflow-x: auto;
      padding: 1rem 0;

      [data-line] {
        padding: 0 1rem;
      }

      code {
        width: auto;
        margin-bottom: var(--gap);
        overflow-x: auto;
      }
    }

    code {
      counter-reset: line;

      * {
        font-family: var(--dankMonoFont);
      }

      > [data-line]::before {
        counter-increment: line;
        content: counter(line);
        width: 1rem;
        margin-right: var(--gap);
        display: inline-block;
        color: var(--grayColor);
      }

      code[data-line-numbers-max-digits='2'] > [data-line]::before {
        width: 2rem;
      }

      code[data-line-numbers-max-digits='3'] > [data-line]::before {
        width: 2rem;
      }
    }
  }
}
